---
version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: sunday

  - package-ecosystem: docker-compose
    directories:
      - roles/docker_services/files/*
    schedule:
      interval: weekly
      day: sunday
