---
services:
  node-exporter:
    image: prom/node-exporter:v1.10.2
    container_name: node-exporter
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      - "/:/host:ro,rslave"
      - "/var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket"
    command:
      - "--path.rootfs=/host"
      - "--collector.processes"
      - "--collector.systemd"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.55.1
    container_name: cadvisor
    restart: unless-stopped
    privileged: true
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run"
      - "/sys:/sys:ro"
      - "/var/lib/docker:/var/lib/docker:ro"
      - "/dev/disk:/dev/disk:ro"
      - "/etc/machine-id:/etc/machine-id:ro"
    devices:
      - /dev/kmsg
    ports:
      - "8080:8080"
    networks:
      - monitoring

networks:
  monitoring:
