---
services:
  nut-server:
    image: instantlinux/nut-upsd:2.8.3-r2
    container_name: nut-server
    restart: unless-stopped
    devices:
      - /dev/bus/usb:/dev/bus/usb:rwm
    ports:
      - "3493:3493"
    environment:
      - API_USER=${NUT_MONITOR_USERNAME}
      - API_PASSWORD=${NUT_MONITOR_PASSWORD}
    networks:
      - nut

  peanut:
    image: brandawg93/peanut:5.20.0
    container_name: peanut
    restart: unless-stopped
    volumes:
      - ./peanut.yaml:/app/config/settings.yml:ro  # See: https://github.com/Brandawg93/PeaNUT/issues/364
    ports:
      - 3494:8080
    environment:
      - DISABLE_CONFIG_FILE=true  # No saving
    networks:
      - nut

networks:
  nut:

volumes:
  peanut_data:
