---
services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.4
    container_name: jellyfin
    restart: unless-stopped
    network_mode: host
    volumes:
      - jellyfin_config:/config
      - jellyfin_cache:/cache
      - nas_media:/media
    devices:
      - /dev/dri:/dev/dri
    environment:
      - TZ=America/New_York
      - JELLYFIN_PublishedServerUrl=https://jellyfin.home.benprisby.com
    deploy:
      resources:
        limits:
          memory: 8G
        reservations:
          memory: 1G

volumes:
  jellyfin_config:
  jellyfin_cache:

  nas_media:
    driver: local
    driver_opts:
      type: cifs
      device: "${NAS_MEDIA_SHARE}"
      o: "username=${NAS_MEDIA_USERNAME},password=${NAS_MEDIA_PASSWORD},file_mode=0777,dir_mode=0777,vers=3.0"
