---
- Monitoring:
  - Grafana:
      icon: grafana
      href: https://grafana.eastie.boston/dashboards
      description: Server dashboards
      server: big-slice-01
      container: grafana
      showStats: true

  - Prometheus:
      icon: prometheus
      href: https://prometheus.eastie.boston
      description: Monitoring database
      server: big-slice-01
      container: prometheus
      showStats: true

  - Graylog:
      icon: graylog
      href: https://graylog.eastie.boston
      description: Centralized log server
      server: big-slice-01
      container: graylog
      showStats: true

  - Uptime Kuma:
      icon: uptime-kuma
      href: https://uptime.eastie.boston
      description: System and service uptime tracker
      server: big-slice-01
      container: uptime-kuma
      showStats: true

- Network:
  - Unifi:
      icon: unifi-controller
      href: https://unifi/network/default/dashboard
      description: Network controller
      widget:
        type: unifi
        url: https://unifi
        username: {{ vault_unifi_monitoring_username }}
        password: {{ vault_unifi_monitoring_password }}

  - AdGuard Home (Primary):
      icon: adguard-home
      href: https://adguard1.eastie.boston
      description: Main VLAN primary DNS
      server: small-slice-01
      container: adguard-home
      widget:
        type: adguard
        url: https://adguard1.eastie.boston
        username: {{ vault_adguard_username }}
        password: {{ vault_adguard_password }}

  - AdGuard Home (Secondary):
      icon: adguard-home
      href: https://adguard2.eastie.boston
      description: Main VLAN secondary DNS
      server: small-slice-02
      container: adguard-home
      widget:
        type: adguard
        url: https://adguard2.eastie.boston
        username: {{ vault_adguard_username }}
        password: {{ vault_adguard_password }}

- Servers:
  - Jellyfin:
      icon: jellyfin
      href: https://jellyfin.eastie.boston
      description: Home media server
      widget:
        type: jellyfin
        url: https://jellyfin.eastie.boston
        key: {{ vault_jellyfin_api_token }}
        enableBlocks: true
        enableMediaControl: false

  - Portainer:
      icon: portainer
      href: https://portainer.eastie.boston
      description: Docker container management
      server: big-slice-01
      container: portainer
      widget:
        type: portainer
        url: https://portainer.eastie.boston
        env: 7  # Big Slice
        key: {{ vault_portainer_access_token }}

  - Nginx Proxy Manager:
      icon: nginx-proxy-manager
      href: https://nginx.eastie.boston
      description: Reverse proxy for home services
      server: big-slice-01
      container: nginx-proxy-manager
      widget:
        type: npm
        url: https://nginx.eastie.boston
        username: {{ vault_nginx_username }}
        password: {{ vault_nginx_password }}

  - Kiwix:
      icon: kiwix
      href: https://kiwix.eastie.boston
      description: Wikipedia archive
      server: big-slice-01
      container: kiwix-serve

- Smart Home:
  - Home Assistant:
      icon: home-assistant
      href: https://homeassistant.eastie.boston
      description: Smart home hub
      widget:
        type: homeassistant
        url: https://homeassistant.eastie.boston
        key: {{ vault_home_assistant_token }}

  - Scrypted (Primary):
      icon: scrypted
      href: https://scrypted.eastie.boston
      description: Home camera integration platform

  - Scrypted (Common):
      icon: scrypted
      href: https://scrypted-common.eastie.boston
      description: Building camera integration platform

  - 3D Printer:
      icon: octoprint
      href: https://octoprint.eastie.boston
      description: Prusa MK3S management
      widget:
        type: octoprint
        url: https://octoprint.eastie.boston
        key: {{ vault_octoprint_api_key }}

  - UPS:
      icon: nut
      href: https://peanut.eastie.boston/device/ups
      description: Homelab UPS monitoring
      widget:
        type: peanut
        url: https://peanut.eastie.boston
        key: ups
        username: {{ vault_nut_monitor_username }}
        password: {{ vault_nut_monitor_password }}

  - Laser Printer:
      icon: brother
      href: https://laserprinter.eastie.boston
      description: Brother HL-L3280CDW web interface
