---
services:
  portainer:
    image: portainer/portainer-ce:2.33.5
    container_name: portainer
    restart: unless-stopped
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "portainer_data:/data"
    ports:
      - "8000:8000"
      - "9443:9443"

volumes:
  portainer_data:
